* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #1a1a1d; 
    color: #ffffff;
}

.nav-bar {
    background-color: #3b1c32;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 5%;
}

ul {
    list-style: none;
    display: flex;
}

.logo a {
    text-decoration: none;
    color: white;
    font-family: "Fredoka", sans-serif;
}

.logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.nav-links {
    gap: 15px;
}

.nav-links a {
    color: rgba(251, 255, 240, 0.78);
    text-decoration: none;
}

.nav-links a:hover {
    color: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vh 0;
    row-gap: 55px;
}

#category-filter-section {
    text-align: center;
    margin: 20px 0;
}

#category-filter {
    padding: 8px;
    border-radius: 4px;
    background-color: #6a1e55; 
    color: #ffffff;
    border: none;
    font-size: 16px;
    outline: none;
    cursor: pointer;

}

#category-filter option {
    background-color: #3b1c32;
    color: #ffffff;
    cursor: pointer;

}

.carts {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr); 
    justify-items: center;
    padding: 20px;
}

.cart {
    background-color: #3b1c32;
    border-radius: 8px;
    width: 250px; 
    height: 400px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    padding: auto;
    align-items: center;
    gap: 20px;
    transition: box-shadow 0.3s ease;
    position: relative;
}


.cart:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.824);
}

.cart img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    border-bottom: 2px solid #6a1e55;
    cursor: pointer; 
    transition: width 0.3s ease;
    position: relative;
}

.cart img:hover{
    width: 150%;
    height: 200px; 
    object-fit: cover;
    border-bottom: 2px solid #6a1e55; 
}
.cart h3{
    margin:10px 5px 0 5px;
}
.cart-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.cart-bottom h3 {
    font-size: 1.2rem;
    color: #ffffff;
}

.prices {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    height: 40%;
}

.prices .old_price {
    text-decoration: line-through;
    color: #a64d79;
}

.prices .new_price {
    font-weight: bold;
    color: #ffffff;
}

.cart button {
    padding: 10px 20px;
    background-color: #d61974;  
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.cart button:hover {
    background-color: #830f47; 
}


table {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

table button{
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

table button:hover{
    background-color: #d61974;
    color: white;
}

.footer {
    background-color: #333;
    width: 100%;
    font-family: "Fredoka", sans-serif;
    color: white;
    text-align: center;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer-soc a {
    text-decoration: none;
    color: white;
}

.footer-soc a:not(:last-child) {
    border-right: 2px solid white;
    padding-right: 5px;
}

@media(max-width: 800px) {
    .carts {
        grid-template-columns: repeat(2, 1fr); 
    }
    table{
        font-size: smaller;
    }

    table button{
        padding: 2px 4px;
    }
}

@media(max-width: 600px) {
    .carts {
        grid-template-columns: repeat(1, 1fr); 
    }
    .nav-bar {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 10px;
    }

}
