<div class="product-detail-container">
    <div class="product-image-container">
      <img [src]="product?.image" alt="{{ product?.name }}" class="product-image" />
    </div>
  
    <div class="product-info">
      <h3 class="product-name">{{ product?.name }}</h3>
      <p class="product-category">{{ product?.category }}</p>
  
      <div class="product-price">
        <p class="current-price">${{ product?.newPrice | number: '1.2-2' }}</p>
        <span class="old-price">${{ product?.oldPrice | number: '1.2-2' }}</span>
      </div>
  
      <button class="add-to-cart-btn" (click)="addToCart()">Add to Cart</button>
      <button class="go-back-btn" (click)="goBack()">Go Back</button>
    </div>
  </div>
  