<div class="container">
  <h1>NgSwitch Binding</h1>
  <p>Pick your favourite item</p>
  <div *ngFor="let item of items">
    <label>
      <input 
        type="radio" 
        name="item" 
        [value]="item" 
        [(ngModel)]="selectedItem" />
      {{ item }}
    </label>
  </div>

  <div [ngSwitch]="selectedItem">
    <p *ngSwitchCase="'Teapot'">I am a little Teapot , short and stout!</p>
    <p *ngSwitchCase="'Lamp'">This is the britest Lamp in the town. Are you as bright as a Lamp?</p>
    <p *ngSwitchCase="'Phone'">Which is the slimmest Phone?</p>
    <p *ngSwitchCase="'Television'">Has anyone seen my Television?</p>
    <p *ngSwitchCase="'Fishbowl'">Fishbowl is strange and misterious.</p>
    <p *ngSwitchDefault>Pick your favourite item</p>
  </div>
</div>